.background    { background: rgb(193, 95, 250);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(235, 0, 0); }
.wall          { background: rgb (188, 181,181 ; }

.game {
  position: relative;
}

.floater { background: rgb(255, 100, 100); 
}
	